body {
    margin: 0;
    padding: 0;
    background: #131313;
}



/* scrollbar=================*/
::-webkit-scrollbar {
    width: .40rem;
    height: .40rem;
    background-color: rgb(48, 48, 48);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 99);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: orangered;
}






/* animation=================*/
.content-text {
    animation: moveleft 1s forwards;
}
.side1 {
    animation: fadeInUp 1s forwards;
}
.side2 {
    animation: fadein 1.4s forwards;
}
@keyframes fadein {
    0% {
        opacity: 1;
        transform: translateY(130px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes moveleft {
    0% {
        opacity: 0;
        transform: translateX(-85px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0.8;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






/* header=================*/
header {
    /* background: linear-gradient(90deg, rgb(1, 1, 216) 6%, rgba(49, 97, 255, 1) 100%); */
    background-color: #131313;
    padding: 10px 0;
    position: fixed;
    margin-inline-end: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0px 9px 16px 1px rgba(27, 27, 27, 0.884);
}
.logo {
    padding-left: 30px;
    border-radius: 20px;
    color: #444444;
    letter-spacing: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo b {
    font-weight: lighter;
    color: orangered;
}
.logo strong {
    font-weight: lighter;
    color: #fff;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 27px;
}
nav ul li {
    list-style: none;
    margin-left: 20px;
}
nav ul li a {
    color: orangered;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(252, 146, 108);
}
.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile {
    padding-right: 30px;
}






/*home tabs=================*/

.links-container {
    display: flex;
    gap: 18px;
    padding: 0 14px 11px 10px;
    position: fixed;
    top: 13%;
    left: 17%;
    transform: translate(-50%, 10%);
    z-index: 2;
}
.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 9px 7px;
    color: #505050;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    margin: 10px 10px;
    transition: color 0.3s ease;
}


/* CSS for selected link */
.selected {
    border-bottom: 1px solid blue;
    color: rgb(0, 0, 255) !important;
}





/* content text=================*/
.content-text {
    position: absolute;
    top: 30%;
    left: 6%;
    max-width: 590px;
}
.content-text h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 49px;
    color: rgb(255, 255, 255);
}
.content-text h1 em {
    letter-spacing: 2px;
}
.content-text h1 b {
    color: #ffffff;
    padding: 5px;
    border-radius: 7px;
}
.content-text h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #bdbdbd;
    padding: 12px 0 10px 24px;
}
.content-text p {
    color: orangered;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}







/* contennt button=================*/
.btns {
    position: absolute;
    display: flex;
    top: 33%;
    right: 6%;
}

.side-box {
    box-shadow: 0px 9px 16px 1px rgba(32, 32, 32, 0.884);
    background-color: #f0f0f0;
    padding: 40px 20px 30px 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

.side-box h3 {
    line-height: 10px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.side-box h3.gg {
    width: 100%;
    color: orangered;
}
.side-box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-bottom: 14%;
}
.side-box button {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 45px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 6px #000000;
    transform: transform 80ms ease-in;
}
.side-box button.g {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 45px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transform: transform 80ms ease-in;
}
.side-box button.g:hover {
    background-color: rgb(255, 113, 62);
}
.side-box button:hover {
    background-color: rgba(49, 97, 255, 1);
}
.side-box button:active {
    transform: scale(0.95);
}







/* 2nd page rigth=================*/

.leaderboards {
    position: absolute;
    place-content: center;
}




/* section=================*/
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    border-bottom: 2px solid #ccc;
    transition: background-color 0.5s ease;
}